@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
   color: rgb(36, 62, 99);
   margin: 0 auto;
   padding: 0;
}

body {
    max-width: 100vw;
    overflow: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

a {
    display: inline;
    text-decoration: none;
}

/* 

NAV BAR 

*/

nav {
    display: flex;
    padding-top: 32px;
}


.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    margin: 8px 0;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(36, 62, 99);
    font-size: 20px;
}

